canvas { 
    border: 1px solid black; 
    /*fill: rgb(127, 192, 130);*/
    fill: rgb(130, 231, 126);
}

b {
    font-size: x-large;
    /*font-style: italic;*/
    font-weight: 600;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group:after {  /* Clear floats (clearfix hack) */
    content: "";
    clear: both;
    display: table /*display: table;*/
  }
  
  .btn-group button:hover {   /* Add a background color on hover */
    background-color: #3e8e41;
  }
  
  footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    font-size:small;
  }
  
  button {  
    /*margin: 0 auto;*/ /*neutral vertical position around strings on the page*/
    /*top: 500px;*/ /* Расстояние от верхнего края */
    /*height: 80px;*/ /* Высота слоя */
    /*display: block;*/ /*center position around page width*/
    /*font-size: 16px;
    background-color: LightSteelBlue;*/
  
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
  }
  
  button:hover {   /* Add a background color on hover */
    background-color: #3e8e41;
  }